---
import Nav from '../components/Nav.astro';
import Pie from '../components/Pie.astro';
import Boto from '../components/Boto.astro';
import Titol from '../components/Titol.astro';
import Layout from '../layouts/Layout.astro';
import Projecto from '../components/Projecto.astro';
import projectsData from '../data/cv.json';
import "../styles/global.css";

const projects = projectsData.projects;
---

<Layout>
  <Nav />

  <section class="px-6 py-12 max-w-6xl mx-auto">
    <Titol
      title="Hola, soy Izan!"
      descripcio="Hola, soy Izan Aranada, estudiante de Desarrollo de Aplicaciones Web. Me apasiona la tecnología, el diseño funcional y crear soluciones prácticas que conecten a las personas con lo digital. A lo largo de mi formación, he trabajado en proyectos donde he aplicado HTML, CSS, JavaScript."
    />
    
    <div class="mt-16">
      <h2 class="text-3xl font-bold text-center mb-10">Mis Proyectos</h2>
      
      <div class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
        {projects.map(project => (
          <Projecto project={project} />
        ))}
      </div>
    </div>
  </section>

  <Pie />
</Layout>

