
---
interface Props {
    boto?: GamepadButton | string;
}

const { boto = "Boto per defecte" } = Astro.props;
---

<div>
<button>{boto}</button>
</div>
<style>
    button {
        border-radius: 20px;
        background-color: pink;
        border: none;
        font-size: 16px;
        cursor: pointer;
        width: 200px;
        height: 50px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: lightcoral;
    }
</style>