---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
---
<div class="flex justify-center items-center ">
	<div class="w-2/5 mt-5 h-20 bg-gray-200 text-black items-center flex gap-10">
		<a class="text-2xl ml-15" href="http://localhost:4321/"><b>IA</b></a>
		<a class="text-2xl ml-60" href="http://localhost:4321/estudis/info">/Information</a>
		<a class="text-2xl " href="http://localhost:4321/contact/contacto">/Contact</a>
		<a class="text-2xl " href="http://localhost:4321">/Index</a>

	</div>
</div>