---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
---

<div class="mt-80 w-full h-15 bg-grey-200">
	<p class="ml-5">Copyright © / Izan Aranda Valverde 🦑 </p>
</div>