---
interface Props {
  title: string;
  descripcio?: string; //Prop opcional
}

const { title = "titol x defecte", descripcio = "descripció buida" } = Astro.props;
---

<div class="flex flex-col items-center mt-20 px-4 text-center max-w-4xl mx-auto">
  <div class="mb-6">
    <h1 class="text-4xl md:text-5xl font-extrabold text-gray-900">{title}</h1>
  </div>
  <div class="mb-8">
    <p class="text-base md:text-lg text-gray-600">{descripcio}</p>
  </div>
  <img src="../data/fadding-cat.gif" class="w-full max-w-md rounded-lg shadow-md" />
</div>