---
import projectsData from '../../data/cv.json';
import Layout from '../../layouts/Layout.astro';
import "../../styles/global.css";

export async function getStaticPaths() {
  const paths = projectsData.projects.map(project => ({
    params: { slug: project.slug }
  }));
  return paths;
}

const { slug } = Astro.params;
const project = projectsData.projects.find(project => project.slug === slug);

if (!project) {
  throw new Error('Estudi no trobat');
}
---

<Layout>
  <section class="min-h-screen bg-gradient-to-br from-indigo-300 to-purple-200 py-20 px-6 flex justify-center items-center">
    <div class="bg-white rounded-2xl shadow-2xl max-w-4xl w-full flex flex-col md:flex-row overflow-hidden">
      
      <div class="md:w-1/2">
        <img 
          src={project.image} 
          alt={project.name} 
          class="w-full h-full object-cover"
        />
      </div>

      <div class="md:w-1/2 p-8 text-gray-800">
        <h1 class="text-3xl md:text-4xl font-bold mb-4 text-indigo-700">{project.name}</h1>
        <p class="text-base md:text-lg text-gray-600 mb-6">{project.description}</p>
        
        <a 
          href="/" 
          class="inline-block bg-indigo-600 text-white font-semibold px-5 py-3 rounded-lg hover:bg-yellow-300 hover:text-black transition-colors duration-300"
        >
          ← Tornar al Inici
        </a>
      </div>
    </div>
  </section>
</Layout>
